model-viewer#scene {
    --poster-color: transparent;
}

.container-3d {
    display: flex;
    justify-content: center;
    align-items: center;
}

#scene {
    width: 800px;
    height: 900px;
}

@media only screen and (max-width: 450px) {
    #scene {
        width: 800px;
        height: 380px;
    }
}

@media only screen and (min-width: 550px) {
    #scene {
        width: 800px;
        height: 550px;
    }
}

@media only screen and (min-width: 600px) {
    #scene {
        width: 800px;
        height: 600px;
    }
}

@media only screen and (min-width: 700px) {
    #scene {
        width: 800px;
        height: 680px;
    }
}

@media only screen and (min-width: 900px) {
    #scene {
        width: 800px;
        height: 900px;
    }
}